$colorOne: #e63946;
$colorTwo: #f1faee;
$colorThree: #a8dadc;
$colorFour: #457b9d;
$colorFive: #1d3557;

body {
  font-family: 'Comfortaa', cursive, sans-serif;
  font-family: 'Dancing Script', cursive, sans-serif;
  font-family: 'Shadows Into Light', cursive, sans-serif;
  font-size: 1.4rem;
}

header {
  margin-bottom: 0;

  .top-container {
    position: relative;
    padding: 0;
    // display: flex;
    img {
      max-width: 100%;
    }
  }

  .top-logo {
    position: absolute;
    top: 2rem;
    left: 2rem;
    img {
      max-width: 30%;
    }
    z-index: 2;
  }

  .top-text {
    position: absolute;
    top: 20%;
    left: 45%;
    transform: translate(-20%, -45%);
    max-width: 100%;

    h1 {
      font-family: 'Comfortaa', cursive, sans-serif;
      font-family: 'Dancing Script', cursive, sans-serif;
      font-family: 'Shadows Into Light', cursive, sans-serif;
      font-size: 4rem;
      color: $colorOne;
      text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
      max-width: 100%;
      @media only screen and (max-width: 600px) {
        font-size: 2rem;
      }
    }
    h2 {
      font-family: 'Comfortaa', cursive, sans-serif;
      font-family: 'Dancing Script', cursive, sans-serif;
      font-family: 'Shadows Into Light', cursive, sans-serif;
      font-size: 3rem;
      color: $colorFour;
      text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
      max-width: 100%;
      @media only screen and (max-width: 600px) {
        font-size: 2rem;
      }
    }
  }

  .custom-nav {
    background-color: $colorFour;

    .navbar-nav {
      .nav-item {
        a {
          text-decoration: none;
          color: $colorTwo;
          font-size: 2rem;
        }
      }
    }
  }

  .nav-logo {
    padding: 0;
    margin: 0;
    img {
      max-width: 4rem;
      margin-right: 1rem;
    }
  }
}

.custom-row {
  margin-top: 1%;
  // margin-bottom: 1%;
}

.first-row {
  // background-color: $colorFour;
  margin-top: 1rem;
  padding: 0;
  border-bottom: solid 1px $colorOne;

  .shopping-cart {
    display: flex;
    justify-content: flex-end;
    img {
      max-width: 2rem;
    }
  }
}

.products {
  h5 {
    font-size: 2rem;
    color: $colorFive;
    border-bottom: solid 1px $colorOne;
  }

  .add-cart-btn {
    background-color: $colorFive;
    border: solid 1px $colorOne;
    font-size: 2rem;
    color: $colorTwo;
  }
}

.custom-footer {
  background-color: $colorFour;
  .social-icons {
    display: flex;
    justify-content: flex-end;
    margin-top: 1%;
    margin-bottom: 1%;
    // padding: 1%;
    img {
      max-width: 70%;
    }
    a {
      text-decoration: none;
    }
  }

  .footer-text {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    color: $colorTwo;
  }

  .footer-logo {
    display: flex;
    justify-content: center;
    img {
      max-width: 35%;
    }
  }
}
