body {
  font-family: "Comfortaa", cursive, sans-serif;
  font-family: "Dancing Script", cursive, sans-serif;
  font-family: "Shadows Into Light", cursive, sans-serif;
  font-size: 1.4rem;
}

header {
  margin-bottom: 0;
}
header .top-container {
  position: relative;
  padding: 0;
}
header .top-container img {
  max-width: 100%;
}
header .top-logo {
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 2;
}
header .top-logo img {
  max-width: 40%;
}
header .top-text {
  position: absolute;
  top: 20%;
  left: 40%;
  transform: translate(-20%, -40%);
  max-width: 100%;
}
header .top-text h1 {
  font-family: "Comfortaa", cursive, sans-serif;
  font-family: "Dancing Script", cursive, sans-serif;
  font-family: "Shadows Into Light", cursive, sans-serif;
  font-size: 4rem;
  color: #e63946;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  max-width: 100%;
}
@media only screen and (max-width: 600px) {
  header .top-text h1 {
    font-size: 2rem;
  }
}
header .top-text h2 {
  font-family: "Comfortaa", cursive, sans-serif;
  font-family: "Dancing Script", cursive, sans-serif;
  font-family: "Shadows Into Light", cursive, sans-serif;
  font-size: 3rem;
  color: #457b9d;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  max-width: 100%;
}
@media only screen and (max-width: 600px) {
  header .top-text h2 {
    font-size: 2rem;
  }
}
header .custom-nav {
  background-color: #457b9d;
}
header .custom-nav .navbar-nav .nav-item a {
  text-decoration: none;
  color: #f1faee;
  font-size: 2rem;
}
header .nav-logo {
  padding: 0;
  margin: 0;
}
header .nav-logo img {
  max-width: 50%;
}

.custom-row {
  margin-top: 1%;
  margin-bottom: 1%;
}

.products h5 {
  font-size: 2rem;
  color: #1d3557;
  border-bottom: solid 1px #e63946;
}
.products .add-cart-btn {
  background-color: #1d3557;
  border: solid 1px #e63946;
  font-size: 2rem;
  color: #f1faee;
}

.custom-footer {
  background-color: #457b9d;
}
.custom-footer .social-icons {
  display: flex;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 1%;
}
.custom-footer .social-icons img {
  max-width: 60%;
}
.custom-footer .social-icons a {
  text-decoration: none;
}
.custom-footer .footer-text {
  display: flex;
  justify-content: center;
  margin-top: 1%;
  color: #f1faee;
}
.custom-footer .footer-logo {
  display: flex;
  justify-content: center;
}
.custom-footer .footer-logo img {
  max-width: 35%;
}